@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #0f172a;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

a {
  display: block;
  max-width: max-content;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

input,
textarea {
  border: 3px solid #0f172a7e;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  width: 100%;
}
input {
  margin: 0 0 1rem;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid black;
  max-width: 900px;
  min-width: 300px;
  width: auto;
  margin-inline: auto;
}

.logo,
.icon {
  font-size: 2rem;
}

.logo a {
  display: flex;
  align-items: center;
}
.github {
  display: flex;
  align-items: center;
  margin: 5rem auto 2rem;
  gap: 0.3rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 0.2px solid rgba(128, 128, 128, 0.267);
  border-radius: 5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
}

.github:is(:hover, :focus-visible) {
  background-color: rgb(247, 247, 247);
}

.github ion-icon {
  font-size: 1.3rem;
}

#container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 3rem;
  max-width: 600px;
  min-width: 300px;
  width: auto;
}

#output {
  height: 15rem;
}

.btn {
  padding: 0.9rem 1rem;
  background-color: #0f172a;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.15s ease;
}

.btn:is(:hover, :focus-visible) {
  opacity: 0.9;
}

footer {
  margin: 3rem auto 5rem;
  text-align: center;
}

footer ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

footer ul li a:hover {
  opacity: 0.9;
}
